parameters:
	ignoreErrors:
		-
			message: '#^Function get_field not found\.$#'
			identifier: function.notFound
			count: 8
			path: src/Trumpet/Admin/TrumpetAdmin.php

		-
			message: '#^Property Trumpet\\Admin\\TrumpetAdmin\:\:\$repository is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Trumpet/Admin/TrumpetAdmin.php

		-
			message: '#^Function get_field not found\.$#'
			identifier: function.notFound
			count: 8
			path: src/Trumpet/Announcement/Announcement.php

		-
			message: '#^Constant TRUMPET_PLUGIN_URL not found\.$#'
			identifier: constant.notFound
			count: 1
			path: src/Trumpet/Announcement/AnnouncementManager.php

		-
			message: '#^Constant TRUMPET_VERSION not found\.$#'
			identifier: constant.notFound
			count: 1
			path: src/Trumpet/Announcement/AnnouncementManager.php

		-
			message: '#^Method Trumpet\\Announcement\\AnnouncementManager\:\:logError\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/Trumpet/Announcement/AnnouncementManager.php

		-
			message: '#^Parameter \#1 \$text of function esc_attr expects string, int given\.$#'
			identifier: argument.type
			count: 2
			path: src/Trumpet/Announcement/AnnouncementManager.php

		-
			message: '#^Function update_field not found\.$#'
			identifier: function.notFound
			count: 8
			path: src/Trumpet/Announcement/AnnouncementRepository.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: src/Trumpet/Announcement/AnnouncementRepository.php

		-
			message: '#^Constant TRUMPET_PLUGIN_FILE not found\.$#'
			identifier: constant.notFound
			count: 3
			path: src/Trumpet/Plugin.php
